DEPLOYMENT_NAME="gpt-5-mini"
OPENAI_API_KEY=your-openai-api-key
FLASK_APP=tdapp
FLASK_RUN_PORT=4000

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=your-mysql-user
MYSQL_PASSWORD=your-mysql-password
MYSQL_DB=your-database-name